<nb-card>
    <nb-card-header>
        <div class="students-header">
            <span>Danh sách học sinh</span>
            <div class="students-filter-items">
                <ngx-button-select-option [title]="courseTitle" [options]="courses"></ngx-button-select-option>
                <span class="item-space"></span> 
                <ngx-button-select-option [title]="classTitle" [options]="classList"></ngx-button-select-option>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-button-add [onClick]="handleAdd"></ngx-button-add>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>